<div class="col-md-4">
  <div class="list-group">
    <div class="list-group-item">
      <form {{action "createBand" on="submit"}}>
        {{input type="text" value=name class="new-band" placeholder="Add New Band"}}
        <button type="submit" class="btn btn-primary btn-sm new-band-button" disabled={{isAddButtonDisabled}} >Add</button>
      </form>
    </div>
    {{#each model as |band|}}
      {{#link-to 'bands.band.songs' band class="list-group-item band-link"}}
        {{band.name}}
        <span class="glyphicon pointer glyphicon-chevron-right"></span>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  {{outlet}}
</div>
